// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// トップページラッパーの装飾
.top-wrapper {
  height: 625px;
  color: #fff;
  text-shadow: 2px 3px 4px #444;
  font-weight: bold;
  background-image: url('/images/running-on-beach.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// 背景画像の背景色を重ねる
.bg-opacity {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

// ログインフォームの装飾
.login-box {
  background-color: rgba( 10, 50, 10, 0.60);
  color: #fafafa;
}

.login-header {
  background-color: rgba( 10, 50, 10, 0.60);
}

.login-body {
  background-color: rgba( 160, 160, 150, 0.85);
}

// ログインボタンの装飾
.btn-success {
  background-color: #075;
  color: #fff !important;
  margin:15px;
}

.btn-info {
  background-color: #047;
  color: #fff !important;
  margin:15px;
}


// ナビゲーションバーの装飾
.navbar-laravel {
  padding: 0px;
  background-color: #153;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba( 50, 50, 50, 0.1);
}

.navbar-brand {
  font-size: 24px;
}

.navbar-nav {
  color: #fff;
  font-size:16px;
}

.nav-link {
  color: #fff;
}

.nav-item {
  img {
    width:  30px;
    height: 30px;
    border-radius: 30px;
  }
}

// bodyの装飾
body {
  background-color: #fffffade; 
  color: #222;
}

// footerの装飾
footer {
  padding: 1rem;
  height: 4rem;
  background-color: #dadaaa;
  color: #000;
}

// 一覧画面のカードの装飾
.post-list {
  max-width: 50em;
}

.card-text {
  font-size: 14px;
}

.card-image {
  img {
    max-width: 90%;
    max-height: 360px;
    border-radius: 5px;
  }
}

.comment-list {
  max-width: 50em
}

.card-header {
  img {
    width:  50px;
    height: 50px;
    border-radius: 50px;
  }
}

.fa-heart {
  color: gray;
}

.loved i {
  color: red !important;
}