// トップページラッパーの装飾
.top-wapper {
  background-image: url('/images/italy-1587287_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fafafa;
}

// ナビゲーションバーの装飾
.navbar-laravel {
  background-color: #264;
  color: #252;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba( 50, 50, 50, 0.1);
}

.navbar-brand {
  color: #111;
}

.nav-link {
  color: #fff;
}


// ログインフォームの装飾
.login-box {
  background-color: rgba( 10, 50, 10, 0.60);
  color: #fafafa;
}

.login-header {
  background-color: rgba( 10, 50, 10, 0.60);
}

.login-body {
  background-color: rgba( 200, 200, 200, 0.8);
}

.btn-success {
  background-color: #075;
  color: #fff !important;
  margin:15px;
}

.btn-info {
  background-color: #047;
  color: #fff !important;
  margin:15px;
}
