body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eee;
  color: #222;
}

.navbar-laravel {
  background-color: #264;
  color: #252;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.1);
}

.navbar-brand {
  color: #111;
}

.nav-link {
  color: #fff;
}

.table-dark {
  background-color: #cbcbcb;
  color: #232;
}

.card {
  border-top-color: #142;
  background-color: #eee;
  margin-bottom: 25px;
}

.card-footer {
  margin-bottom: 0px;
}

