body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fffffade;
  color: #222;
}

.navbar-laravel {
  background-color: #153;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(50, 50, 50, 0.1);
}

.navbar-brand {
  color: #111;
}

.navbar-nav {
  color: #fff;
}

.nav-link {
  color: #fff;
}

.post-list {
  margin-bottom: 20px;
}

.card-deck {
  margin-right: 10px;
  margin-bottom: 15px;
}

